<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Session 07 (Dropdown, bulkelement findelements,webdriver methods )/src/aSelectClass/AHandling_dropdown.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="aSelectClass.AHandling_dropdown"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Session 07 (Dropdown, bulkelement findelements,webdriver methods )"/>
</launchConfiguration>
