<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Session 06 (Working With web Elements, enumeration)/src/session_6_Webelements_Enumeration/Webelement_methods.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="session_6_Webelements_Enumeration.Webelement_methods"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Session 06 (Working With web Elements, enumeration)"/>
</launchConfiguration>
